.aboutTitle {
	background: #04fbd6;
	background: -webkit-linear-gradient(to right, #04fbd6, #e283d9);
	background: linear-gradient(to right, #04fbd6, #e283d9);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 64px;
}

.aboutCenter {
	position: absolute;
	top: 87px;
	width: 100%;
	height: 100%;
	left: 50%;
	transform: translate(-50%, 0%);
	text-align: center;
	overflow: hidden;
}

.aboutInfo {
	font-size: 20px;
	height: 50%;
}

#blackBack {
	background-color: #111111;
}

#whiteBack {
	background-color: #fff;
}