@import url("palette.css");
@import url("nav.css");
@import url("body.css");
@import url("fonts.css");

html {
	margin: 0px;
	padding: 0px;
}

body {
	height: 100vh;

	background-color: var(--bg-colour);
	color: var(--text-colour);
	font-family: 'Sofia Sans', sans-serif;

	display: grid;
	grid-template-columns: 15% 85%;
	grid-template-rows: 72px auto;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

div#head {
	grid-column-start: 1;
	grid-column-end: 3;

	width: 100%;
	font-size: 42px;
	padding: 4px 0px;
	text-align: center;
	background-color: var(--sidebar-colour);
	box-shadow: 0px 0px 3px var(--sidebar-colour);

	display: flex;
	justify-content: space-around;
	align-items: center;
}

span.headanimate1 {
	animation-name: updown;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.17, 0.84, 0.28, 1.32);
	position: relative;
}

span.headanimate2 {
	animation-name: sideside;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.17, 0.84, 0.28, 1.32);
	position: relative;
}

span.headanimate3 {
	animation-name: circle;
	animation-duration: 3.5s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.17, 0.84, 0.28, 1.32);
	position: relative;
}

span.headanimate4 {
	animation-name: wave;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
	position: relative;
}

div#head span#menu {
	display: none;
}

div#projects hr {
	width: 90%;
}

div#projects div#flex {
	justify-content: space-evenly;
	align-items: center;
}

div#projects div#grid {
	display: grid;
	grid-template-columns: 15% 15% 50% 20%;
	row-gap: 16px;
	column-gap: 4px;
	width: calc(100% - 16px - 12px);
	justify-items: center;
}

div#projects div#flex {
	flex-direction: column;
}

div#projects div#grid img {
	width: 64px;
}

a {
	color: var(--link-colour);
	text-decoration: none;
	transition-duration: 250ms;
}

a:hover {
	text-shadow: 0px 0px 5px;
}

a:visited {
	color: var(--link-colour);
}

@keyframes updown {
	0% {
		top: 0px;
	}
	25% {
		top: -16px;
	}
	50% {
		top: 0px;
	}
	75% {
		top: 16px;
	}
	100% {
		top: 0px;
	}
}

@keyframes sideside {
	0% {
		left: 0px;
	}
	25% {
		left: -8px;
	}
	50% {
		left: 0px;
	}
	75% {
		left: 8px;
	}
	100% {
		left: 0px;
	}
}

@keyframes circle {
	0% {
		top: 0px;
		left: -8px;
	}
	25% {
		top: -8px;
		left: 0px;
	}
	50% {
		left: 8px;
		top: 0px;
	}
	75% {
		top: 8px;
		left: 0px;
	}
	100% {
		left: -8px;
		top: 0px;
	}
}

@keyframes wave {
	0% {
		top: 0px;
	}
	25% {
		top: -8px;
	}
	75% {
		top: 8px;
	}
	100% {
		top: 0px;
	}
}

@media screen and (max-width: 1080px) {
	div#head {
		font-size: 32px;
	}
	div#head span#menu {
		display: inline;
		font-size: 32px;
		cursor: pointer;
		position: absolute;
		left: 4px;
		top: 20px;
		transition-duration: 300ms;
	}

	div#head span#menu.clicked {
		text-shadow: 0px 0px 5px;
	}
}

div#expand {
	flex-grow: 1;
}