.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

body {
	background-color: #0c0000;
	color: white;
	font-family: courier, serif;
}

pre {
	font-size: 16px;
}