div.nav {
	display: flex;
	align-items: center;
	justify-content: start;

	height: auto;
	width: 100vw;

	background-color: #463f3a;
}

div.nav > a {
	font-size: 20px;
}

span.material-icons-outlined {
	padding-right: 8px;
	padding-left: 8px;
}