div.nav {
	display: flex;
	align-items: center;
	justify-content: start;

	height: 64px;
	width: 100vw;

	background-color: #463f3a;
	cursor: pointer;
}

div.nav > a {
	font-size: 20px;
	padding-right: 16px;
}

span.material-icons-outlined {
	padding-right: 8px;
	padding-left: 8px;
}