ul {
	list-style-type: none;
}

ul.navbar {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #222;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 90%;
	width: 100%;
	z-index: 1;
}

ul.navbar li {
	display: inline;
	float: left;
	position: relative;
	margin-left: 0.5%;
	top: 50%;
	transform: translateY(-50%);
}

ul.navbar li:not(.noborder) {
	border: 1px solid #fff;
}

ul.navbar li a {
	display: block;
	color: #ddd;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 24px;
}

ul.navbar li a:hover:not(.active) {
	background-color: #333;
	transition: 500ms linear;
}

ul.navbar li a.active {
	background-color: #444;
	transition: 500ms linear;
}