:root {
	--bg-colour: #212529;
	--sidebar-colour: #495057;
	--text-colour: #f5abb9;
	--link-colour: #5bcffa;
	--button-colour: #c49ec4;
	--button-selected-colour: #f9cbfb;
	--button-text-colour: #750062
}