html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #001220;
	color: white;
	font-family: courier, serif;
	margin: 0px;
}

a:link {
	color: #04fbd6;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #e283d9;
	background-color: transparent;
	text-decoration: none;
}

pre {
	font-size: 16px;
}

div.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 24px;
	overflow: hidden;
}

.gradient {
	background: #04fbd6;
	background: -webkit-linear-gradient(to right, #04fbd6, #e283d9);
	background: linear-gradient(to right, #04fbd6, #e283d9);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 32px;
}

#loading {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: #333;
	overflow: hidden;
}

#text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 0% 0%;
	animation: load 1.5s infinite;
}

@keyframes load {
	25%		{transform: rotate(0deg) translate(-50%, -50%)}
	75%		{transform: rotate(360deg) translate(-50%, -50%)}
}

.spacer {
	aspect-ratio: 960/300;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.layer-1 {
	background-image: url("./layer-1.svg");
}