body {
	background-color: #111111;
	color: white;
	font-family: courier, serif;
	margin: 0px;
	margin-left: 10px;
}

pre {
	font-size: 16px;
}

div.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 24px;
	overflow: hidden;
}

.gradient {
	background: #04fbd6;
	background: -webkit-linear-gradient(to right, #04fbd6, #e283d9);
	background: linear-gradient(to right, #04fbd6, #e283d9);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: 32px;
}

#loading {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: #333;
}

#text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transform-origin: 0% 0%;
	animation: load 1.5s infinite;
}

@keyframes load {
	25%		{transform: rotate(0deg) translate(-50%, -50%)}
	75%		{transform: rotate(360deg) translate(-50%, -50%)}
}