<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ModKeeper Web Config Builder</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="index.css">
		<script src="https://unpkg.com/vue@next"></script>
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
		<script src="https://unpkg.com/vue-router"></script>
	</head>
	<body>
		<div id="app">
			<v-app>
				<v-main class="grey lighten-5">
					<br>
					<v-form :submit="formSubmit(false)">
						<v-alert
						border="left"
						dismissable
						color="green"
						outlined
						text
						type="success"
						width="auto"
						class="mx-auto"
						v-show="displayAlert"
						style="position:absolute;top:10px;left:10px;z-index:10;"
						transition="scroll-y-transition"
						>{{alertText}}</v-alert>
						<v-row>
							<v-col cols="12">
								<v-card>
									<v-card-text style="text-align:center">ModKeeper Web Config</v-card-text>
								</v-card>
							</v-col>
						</v-row>
						<v-row>
							<v-col cols="colsPer">
								<v-card>
									<v-card-text>General Settings</v-card-text>
								</v-card>
							</v-col>
							<v-col cols="colsPer">
								<v-card>
									<v-card-text>Spam Protection</v-card-text>
								</v-card>
							</v-col>
							<v-col v-if="showServer">
								<v-card>
									<v-card-text>Server Settings</v-card-text>
								</v-card>
							</v-col>
						</v-row>
						<v-row>
							<v-col cols="colsPer">
								<v-text-field label="Prefix" v-model="form.prefix" counter="10" :rules="[prefRule]"></v-text-field>
							</v-col>
							<v-col cols="colsPer">
								<v-checkbox label="Enable spam protection" color="success" v-model="form.spamOn"></v-checkbox>
							</v-col>
							<v-col cols="colsPer" v-if="showServer">
								<v-combobox
								v-model="form.adminRoles"
								:items="serverCode.roles"
								label="Roles with admin permission"
								multiple
								chips
								filled
								dense
								>
									<template v-slot:selection="{ attrs, item, parent, selected }">
										<v-chip
										v-if="item === Object(item)"
										v-bind="attrs"
										:color="`${item.color} lighten-3`"
										:input-value="selected"
										label
										small
										>
										<span class="pr-2">
											{{ item[1] }}
										</span>
											<v-icon
											small
											@click="parent.selectItem(item)"
											>
												$delete
											</v-icon>
										</v-chip>
									</template>
									<template v-slot:item="{ index, item }">
										{{ item[1] }} (ID: {{ item[0] }})
									</template>
								</v-combobox>
							</v-col>
						</v-row>
						<v-row>
							<v-col cols="colsPer">
								<v-checkbox label="Enable automatic scam/phishing link checking" color="success" v-model="form.scamProtection"></v-checkbox>
							</v-col>
							<v-col cols="colsPer">
								<v-text-field label="Character limit" color="success" v-model="form.spamChars" :rules="[charRule]"></v-checkbox>
							</v-col>
							<v-col cols="colsPer" v-if="showServer">
								<v-combobox
								v-model="form.modRoles"
								:items="serverCode.roles"
								label="Roles with mod permission"
								multiple
								chips
								filled
								dense
								>
									<template v-slot:selection="{ attrs, item, parent, selected }">
										<v-chip
										v-if="item === Object(item)"
										v-bind="attrs"
										:color="`${item.color} lighten-3`"
										:input-value="selected"
										label
										small
										>
										<span class="pr-2">
											{{ item[1] }}
										</span>
											<v-icon
											small
											@click="parent.selectItem(item)"
											>
												$delete
											</v-icon>
										</v-chip>
									</template>
									<template v-slot:item="{ index, item }">
										{{ item[1] }} (ID: {{ item[0] }})
									</template>
								</v-combobox>
							</v-col>
						</v-row>
						<v-row>
							<v-col cols="colsPer">
								<v-combobox
								v-model="form.scamAction"
								:items="scamActions"
								label="What to do if someone posts a scam link"
								chips
								filled
								dense
								>
									<template v-slot:selection="{ attrs, item, parent, selected }">
										<v-chip
										:color="`${item.color} lighten-3`"
										:input-value="selected"
										label
										small
										>
										<span class="pr-2">
											{{ item }}
										</span>
											<v-icon
											small
											@click="parent.selectItem(item)"
											>
												$delete
											</v-icon>
										</v-chip>
									</template>
									<template v-slot:item="{ index, item }">
										{{ item }}
									</template>
								</v-combobox>
							</v-col>
							<v-col cols="colsPer">
								<v-text-field label="Emoji limit" color="success" v-model="form.spamEmojis" :rules="[emojiRule]"></v-checkbox>
							</v-col>
							<v-col cols="colsPer" v-if="showServer">
								<v-combobox
								v-model="form.helperRoles"
								:items="serverCode.roles"
								label="Roles with helper permission"
								multiple
								chips
								filled
								dense
								>
									<template v-slot:selection="{ attrs, item, parent, selected }">
										<v-chip
										v-if="item === Object(item)"
										v-bind="attrs"
										:color="`${item.color} lighten-3`"
										:input-value="selected"
										label
										small
										>
										<span class="pr-2">
											{{ item[1] }}
										</span>
											<v-icon
											small
											@click="parent.selectItem(item)"
											>
												$delete
											</v-icon>
										</v-chip>
									</template>
									<template v-slot:item="{ index, item }">
										{{ item[1] }} (ID: {{ item[0] }})
									</template>
								</v-combobox>
							</v-col>
						</v-row>
						<v-row>
							<v-col cols="colsPer">
								<v-combobox
								v-model="form.auditChannel"
								:items="serverCode.channels"
								label="Audit log channel"
								chips
								filled
								dense
								v-if="showServer"
								>
									<template v-slot:selection="{ attrs, item, parent, selected }">
										<v-chip
										v-if="item === Object(item)"
										v-bind="attrs"
										:color="`${item.color} lighten-3`"
										:input-value="selected"
										label
										small
										>
										<span class="pr-2">
											{{ item[1] }}
										</span>
											<v-icon
											small
											@click="parent.selectItem(item)"
											>
												$delete
											</v-icon>
										</v-chip>
									</template>
									<template v-slot:item="{ index, item }">
										{{ item[1] }} (ID: {{ item[0] }})
									</template>
								</v-combobox>
							</v-col>
							<v-col cols="colsPer" v-if="showServer">
								<v-combobox
								v-model="form.spamIgnoreChannels"
								:items="serverCode.channels"
								label="Channels to ignore spam in"
								multiple
								chips
								filled
								dense
								>
									<template v-slot:selection="{ attrs, item, parent, selected }">
										<v-chip
										v-if="item === Object(item)"
										v-bind="attrs"
										:color="`${item.color} lighten-3`"
										:input-value="selected"
										label
										small
										>
										<span class="pr-2">
											{{ item[1] }}
										</span>
											<v-icon
											small
											@click="parent.selectItem(item)"
											>
												$delete
											</v-icon>
										</v-chip>
									</template>
									<template v-slot:item="{ index, item }">
										{{ item[1] }} (ID: {{ item[0] }})
									</template>
								</v-combobox>
							</v-col>
							<v-col cols="colsPer" v-if="showServer">
								<v-combobox
								v-model="form.muteRole"
								:items="serverCode.roles"
								label="Mute Role"
								chips
								filled
								dense
								>
									<template v-slot:selection="{ attrs, item, parent, selected }">
										<v-chip
										v-if="item === Object(item)"
										v-bind="attrs"
										:color="`${item.color} lighten-3`"
										:input-value="selected"
										label
										small
										>
										<span class="pr-2">
											{{ item[1] }}
										</span>
											<v-icon
											small
											@click="parent.selectItem(item)"
											>
												$delete
											</v-icon>
										</v-chip>
									</template>
									<template v-slot:item="{ index, item }">
										{{ item[1] }} (ID: {{ item[0] }})
									</template>
								</v-combobox>
							</v-col>
						</v-row>
						<v-row justify="center">
							<v-col class="buttonsCol" cols="1">
								<v-btn @click="downloadCode()"
								raised
								elevation="8"
								color="green"
								class="buttonCenter">Copy Code</v-btn>
								<br></br>
								<v-dialog
								v-model="dialog"
								width="500"
								>
									<template v-slot:activator="{ on, attrs }">
										<v-btn
										color="red lighten-2"
										dark
										v-bind="attrs"
										v-on="on"
										class="buttonCenter"
										elevation="8"
										>
										Upload Server File
										</v-btn>
									</template>
									<v-card>
										<v-card-title class="text-h5 grey lighten-2">
										File Upload
										</v-card-title>
										<v-file-input v-model="files" style="padding-right:10px"></v-file-input>
										<v-divider></v-divider>
										<v-card-actions>
											<v-spacer></v-spacer>
											<v-btn
											color="primary"
											text
											@click="dialog = false; getContents()"
											>
												Upload
											</v-btn>
										</v-card-actions>
									</v-card>
								</v-dialog>
							</v-col>
						</v-row>
					</v-form>
					<br><br>
					<v-footer>This site is maintained by EvelynProto (EvelynUwU#6483 on Discord)</v-footer>
				</v-main>
			</v-app>
		</div>
	</body>
	<script>
		const vm = new Vue({
			el: '#app',
			vuetify: new Vuetify(),
			data: {
				cols: 2,
				colsPer: 12 / this.cols,
				code: {},
				displayAlert: false,
				alertText: "",
				dialog: false,
				serverCode: {},
				showServer: false,
				scamActions: ["Ban", "Kick", "Warn"],
				files: [],
				charRule: v  => {
					if (!v.trim()) return true;
					if (!isNaN(parseInt(v)) && v >= 50 && v <= 2000) return true;
					return 'Number has to be between 50 and 2000';
				},
				emojiRule: v  => {
					if (!v.trim()) return true;
					if (!isNaN(parseInt(v)) && v >= 1 && v <= 2000) return true;
					return 'Number has to be between 1 and 2000';
				},
				prefRule: v  => {
					if (!v.trim()) return true;
					if (v.length <= 10) return true;
					return "Prefix must be shorter than 10 characters";
				},
				form: {
					prefix: "?",
					spamOn: true,
					spamChars: 1000,
					spamEmojis: 15,
					spamIgnoreChannels: [],
					scamProtection: true,
					scamAction: null,
					adminRoles: [],
					modRoles: [],
					helperRoles: [],
					muteRole: null,
					auditChannel: null,
					blacklistWords: ["fuck", "shit"],
				},
			},
			methods: {
				generateConfigCode: function() {
					code = this.form;
					code.spamChars = parseInt(code.spamChars);
					code.spamEmojis = parseInt(code.spamEmojis);
					console.log(btoa(JSON.stringify(code)));
					return btoa(JSON.stringify(code));
				},
				formSubmit: function(ret) {
					var generatedCode = this.generateConfigCode();
					if (ret !== true) {
						this.code = generatedCode;
					}
					return generatedCode;
				},
				copyCode: function() {
					navigator.clipboard.writeText(this.code);
					this.displayAlert = true;
					setTimeout(function() {
						this.displayAlert = false;
					}.bind(this), 3000);
				},
				getContents: function() {
					var reader = new FileReader();
					reader.onload = function(e) {
						var contents = e.target.result;
						this.serverCode = JSON.parse(contents);
						this.showServer = true;
						this.alertText = "Imported Server Settings";
						this.displayAlert = true;
						setTimeout(function() {
							this.displayAlert = false;
						}.bind(this), 3000);
					}.bind(this);
					reader.readAsText(this.files);
				},
				downloadCode: function() {
					var textToSave = this.code;
					var hiddenElement = document.createElement('a');

					hiddenElement.href = 'data:attachment/text,' + encodeURI(textToSave);
					hiddenElement.target = '_blank';
					hiddenElement.download = 'serverConfig.txt';
					document.body.appendChild(hiddenElement);
					hiddenElement.click();
				}
			},
			mounted: function() {
				var params = (new URL(document.location)).searchParams;
				var servCode = params.get("u");
				if (servCode == "true") {
					this.dialog = true;
				}
			}
		})
	</script>
</html>