html body {
	overflow: hidden;
}

body {
	background-color: #240046;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}

div #app {
	padding-left: 5px;
	padding-right: 10px;
	overflow: hidden;
}

.buttonsCol {
	text-align: center;
}