ul.navbar {
	list-style-type: none;
	overflow: hidden;
	background-color: none;
	position: relative;
	top: 0;
	left: 0;
	bottom: 90%;
	width: 100%;
	z-index: 1;
	padding: 0px;
	margin: 0px;
	padding-bottom: 10px;
}

ul.navbar li a {
	display: block;
	color: #222;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 24px;
	transition: 100ms linear;
}

ul.navbar li.evelyn {
	top: 10px;
}

ul.navbar li a:hover:not(.active) {
	background-color: #df5082;
	transition: 250ms linear;
	border-radius: 15px;
}

ul.navbar li a.active {
	background-color: #df5082;
	transition: 250ms linear;
	border-radius: 15px;
}

@media (max-width: 800px) {
	ul.navbar:not(.open) li:not(.hamburger):not(.evelyn) {
		float: none;
		display: none;
	}
	ul.navbar.open li {
		float: none;
		display: block;
	}
	a.hamburger:after {
		content: "≡";
		display: block;
	}
	li.hamburger {
		position: absolute;
		top: 0;
		right: 0;
	}
}

@media (min-width: 800px) {
	ul.navbar li {
		float: left;
	}
	a.hamburger:after {
		content: "";
	}
	ul.navbar li {
		display: block;
		position: relative;
		margin-left: 0.5%;
		padding-top: 5px;
	}
}