ul.projectContainer {
	position: absolute;
	list-style-type: none;
	width: 99%;
	margin-left: 0px;
	padding: 0px;
}

ul.projectContainer li.projectThing {
	position: relative;
	text-align: center;
	margin-right: 10px;
	width: 100%;
}

a:link {
	color: #fff;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: #fff;
	background-color: transparent;
	text-decoration: none;
}