a {
	color: #b5e48c;
}

a:link {
	color: #b5e48c;
	text-decoration: none;
	transition-duration: 0.5s;
}

a:visited {
	color: #b5e48c;
	text-decoration: none;
}

a:hover {
	color: #72efdd;
	text-decoration: none;
	transition-duration: 0.25s;
}

a:active {
	color: #72efdd;
	text-decoration: none;
}