@import url("/index.css");

body {
	display: unset;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

hr {
	flex-grow: 1;
}

footer {
	display: flex;
	justify-content: center;
}