div#head {
	width: calc(100% - 16px - 4px - 8px);
	background-color: var(--sidebar-colour);
	border-radius: 8px;
	padding: 8px;
	margin: 4px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 24px
}

div#clips {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	column-gap: 5%;
	width: calc(100% - 16px - 8px - 4px);
	background-color: var(--sidebar-colour);
	border-radius: 8px;
	padding: 8px;
	margin: 4px;
	grid-column-start: 1;
	grid-column-end: 3
}

div#clip {
	padding: 8px;
	border-radius: 16px;
	margin: 4px;
	background-color: var(--bg-colour)
}

button {
	padding: 4px;
	border-radius: 4px;
	background-color: #cdb4db;
	border: unset;
	transition-duration: 250ms
}

button:hover {
	box-shadow: #000 0 0 5px
}

div#actions {
	display: grid;
	grid-template-columns: 48% 48%;
	column-gap: 4%;
	row-gap: 8px;
	align-items: center;
	justify-items: center
}

div#clip > a {
	width: 100%
}

div#clip > a > img {
	width: 100%
}

select#filter {
	background-color: var(--button-colour);
	border: none;
	border-radius: 8px;
	padding: 4px
}

@media screen and (max-width: 1080px) {
	div#clips {
		grid-template-columns: 48% 48%;
		column-gap: 4%
	}
	div#head {
		font-size: 20px
	}
	div#clip {
		font-size: 16px;
		text-align: center
	}
}